div{
    background-color:thistle;
    padding: 10px;
    margin-bottom: 10px;
}
.mimu{
    background-color: violet;
    padding: 10px;
    margin-bottom: 10px;
}
.me{
   
    width: 300px;
}
footer{
    margin-top: 10px;
    text-align: center;
}